body {
    padding-bottom: 500px;
    
}

h1 {
    color: red;
}
h2 {
    border-bottom: 3px solid blue;
}
h3 {
    color: green;
    font-size: 50px;
}

p {
    color: black
}

/* CLASSES */
.paragraph {
    color: aqua;
    background-color: black;
    width: 1320px;
}
.titulo {
    color:blue;
    border-bottom: 5px solid red;
}

/* IDS */
#exclusive-title {
    color: burlywood;
    background-color: black;
    font-size: 29px;
    padding: 20px;
    border: 12px solid green;
    margin: 120px;
}
#algum-titulo {
    background-color: black;
    color: yellow;
    border-bottom: 20px solid green;

}
#imagem-fundo {
    background-image: url(../assets/city.jpg);
    background-size: cover;
    width: auto;
    color: white;
    padding: 10px;
    height: 400px;
}
#imagem-fundo2 {
    background-image: url(../assets/nature.jpg);
    background-position: center;
    width: auto;
    color: white;
    padding: 20px;
    height: 400px;
}


/* NOME DE CORES */

.color_name {
    color: red;
}
.hex {
    color: #112233;
}
.hex-simplificado {
    color: #000;
}
.rgb {
    color: rgb(0, 255, 0);
}
.rgba {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 2, 255, 0.2);    /* transparencia 0.2 = 20% */
}
.hsl {
    color: hsl(200, 69%, 42%);
}
.height-width {
    height: 100px;
    width: 200px;
    background-color: black;
}
.height-width2 {
    height: 100px;
    background-color: red;
}

.without-padding {
    background-color: rgb(26, 131, 16);
    color: #fff;
}
.padding {
    background-color: rgb(28, 17, 102);
    color: #fff;
    padding: 20px;
}
.padding-individual {
    color: #fff;
    background-color: #112233;
    padding-left: 54px;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-right: 9px;
}
.padding-shorthand {
    background-color: #0f4d14;
    color: white;
    padding: 120px 60px 96px 123px;
}
.padding-width {
    background-color: rgb(21, 106, 121);
    color: white;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}
.padding-width-sembox {
    background-color: rgb(21, 106, 121);
    color: white;
    width: 400px;
    padding: 50px;

}

#borda-arredondada {
    background-color: blue;
    color: white;
    padding: 10px;
    border: 5px dotted red;
    border-radius: 15px;
}
.box-model {
    margin: 20px;
    padding: 14px;
    border: 12px solid red;
    border-top-right-radius: 40px;
    background-color: #0f4d14;
    color: white;
    width: 400px;
    height: 150px;

}
#alinhamento {
    text-align: center;
    border: 1px solid red;
    width: 300px;

}
.text-align {
    text-align: right;
    border: 1px solid red;
}

.underline {
    text-decoration: underline;
}
.line-trough {
    text-decoration: line-through;
}
.none {
    text-decoration: none;
    text-align: right;
}
.upper {
    text-transform: uppercase;
}
.lower {
    text-transform: lowercase;
}

.spacing {
    letter-spacing: 5px;
}

/* FONT-FAMILY */
.fontes {
    border: 1px solid #222;
    width: 500px;
}
.serif {
    font-family: "Georgia";
}
.sans-serif {
    font-family: helvetica;
}
.monospace {
    font-family: 'Courier New';
}
.cursive {
    font-family: cursive;
}
.fantasy {
    font-family: fantasy;
}
.styles {
    color: #0f4d14;
    border: 1px solid red;
    width: 300px;
}
.italico {
    font-style: oblique;
}
.oblique {
    font-style: oblique;
}
.weight {
    font-weight: 800;
}
.fontesize {
    font-size: 80px
}
.inlinebox {
    display: inline-block;
    border: 14px solid black;
    padding: 60px;
    font-size: 50px;
}
.block {
    display: block;
    border: 6px solid red;
    padding: 30px;
    font-size: 22px;
    width: 300px;
}
.displaynone {
    display: none;
}

/* trabalhando com position de elementos */
.static {
    position: static;
    background-color: #391;
    color: #fff;
    width: 200px;
    height: 100px;
}
.relative {
    position: relative;
    background-color: #343234;
    text-align: center;
    color: #fff;
    width: 200px;
    height: 200px;

    /*aqui está o pulo do gato em relação ao static: */
    top: 70px; 
    left: 200px;
}
.absolute {
    position: absolute;
    background-color: #bd29bd;
    text-align: center;
    color: #fff;
    width: 200px;
    height: 200px;

    /*aqui está o pulo do gato em relação ao relative: */
    top: 2px; 
    right: 2px;
}
    /* Absolute e Relative */

.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;  /* Se não tivesse esse valor no container principal, esses elementos iam se posicionar no html da pagina*/
   
}
.absolute-1, .absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #9d2a2a;
    position: absolute;
}
.absolute-1 {
    top: 10px;
    left: 10px;
}
.absolute-2 {
    bottom: 10px;
    right: 10px;
}
.absolute-3, .absolute-4, .absolute-5 {
    width: 160px;
    height: 160px;
    background-color: #3945ee;
    position: absolute;
}
.absolute-3 {
    top: 0px;
    left: 0px;
    z-index: 2;
}
.absolute-4 {
    top: 10px;
    left: 10px;
    background-color: #bd29bd;
    z-index: 3;
}
.absolute-5 {
    top: 40px;
    left: 40px;
    background-color: #0f4d14;
    z-index: 1;
}
.barrafixa {
    background-color: #525252;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: .9;
    border: 1px solid black;
    font-size: 30px;
}
.itens {
    padding-right: 20px;
    border-right: 2px solid white;
    margin-left: 10px;
}
.stick {
    background-color: #9d2a2a;
    position: sticky;
    bottom: 100px;
    left: 920px;

    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
}