header {
  border: 1px solid red;
  padding: 60px;
}

h1 {
  border: 1px solid blue;
  height: 60px;
  display: inline;
}

p {
  margin: 20px;
  border: 1px solid purple;
  display: inline;
}

span {
  border: 1px solid pink;
  display: block;
}

div {
  border: 1px solid green;
  width: 202px;
}
